@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kaufman__triangle_rotation {
  animation: rotation 60s infinite linear;
}

.header__square-pic_rotation {
  animation: rotation 20s infinite linear;
}
