.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.page__link_hover:hover {
  text-decoration: underline;
}

.logo {
  width: 183px;
  height: 32px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* выше установили ограничения для секции */
  position: relative;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__heading {
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  width: 730px;
}

.header__text {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  padding: 100px 0 0 0;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  margin: 20px 0 0 0;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  flex-direction: column;
  z-index: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.table__row {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0 0;
}

.table__cell {
  list-style-type: none;
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  margin: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0 0 0;
}

.feynman {
  min-height: 790px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f2f2f2;
  z-index: 1;
}
.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* .feynman__text {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: 0 auto;
} */

.feynman__title {
  padding-top: 100px;
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: #ffffff;
}

.table_theme_dark {
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
}

/*Блок section-title, модификатор theme в значении dark
Блок section-subtitle, модификатор theme в значении dark
Блок table, модификатор theme в значении dark
Блок table, элемент cell, модификатор theme в значении dark
Блок table, элемент heading, модификатор theme в значении dark
Блок table, элемент text, модификатор theme в значении dark
Блок kaufman, элемент triangle*/
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  margin: 60px 0 40px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer__column {
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  text-decoration: none;
  padding-left: 0;
}

/* .footer__list {

} */

.footer__list-link {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
}

.footer__link_social-logo {
  margin-right: 10px;
}

.footer__list-link_facebook::before {
  /* content: "подробнее"; */
  /* content: <a href="#"> img src='../images/facebook_color_white.svg';></a>" */
  margin-right: 10px;
}

.footer__list-link_vk::before {
  content: url(../images/vk_color_white.svg);
  margin-right: 10px;
}

.footer__list-link_instagramm::before {
  content: url(../images/instagram_color_white.svg);
  margin-right: 10px;
}

.footer__column_content_social {
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}
